.about{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 10px 0 ;
  // border: 1px solid yellow;
}
h1{
  font-size: 50px;
}
// .wrapper{
//   display: flex;
//   flex-direction: row;
//   flex-wrap:wrap;
//   width: 60%;
//   padding-right: 25%;
//   border: solid 1px red;
// }
.about-content{
  color:grey;
  font-family: "NTR", sans-serif;
  font-size: 20px;
  max-width: 70%;
  text-align: justify;
  // padding-bottom: 50px;
  // padding-left: 40px;
  line-height:30px;
  // border: solid 1px red;

  // max-width: 600px;
}
// .section-header {
//   display: flex;
//   padding-bottom: 42px;
//   margin-top: 0;
//   width: 80vw;
//   border: solid 1px yellow;

// }

// .section-header::after {
//   content: "";
//   // display: block;
//   width: 25%;
//   margin-top: 31px;
//   height: 1px;
//   margin-left: 20px;
//   background-color: #D8D8D8;
// }

// .section-title {
//   font-family: "NTR", sans-serif;
//   color: #D8D8D8;
//   font-size: 46px;
//   font-weight: bold;
// }
// a{
//   text-decoration: none;
//   color: #799e7c
// }
// a:hover{
//   color:white;
// }
// ul{
//   max-height: 6px;
// }
// li{
//   list-style: none;
//   padding-left: 20px;
// }
// li::before{
//   content: "✩";
//   color: grey;
//   position: absolute;
//   left: 180px;
// }